version: "3.1"
services:
  nginx:
    build:
      context: .
      dockerfile: .nginx/Dockerfile
    ports:
      - "80:80"
    links:
      - wordpress
    volumes:
      - ./nginx/default:/etc/nginx/sites-available/default
      - ./nginx/default:/etc/nginx/sites-enabled/default

      - ./logs/nginx-access.log:/var/log/nginx/access.log
      - ./logs/nginx-error.log:/var/log/nginx/error.log
    environment:
      - EMPLOYEE_NAME=test
  wordpress:
    image: wordpress:php7.3-fpm
#    build:
#      context: .
#      dockerfile: .wordpress/Dockerfile
    ports:
      - "9000:9000"
    volumes:
      - ./public:/application/public
    depends_on:
      - mysql

  mysql:
    image: mysql:5.7
    volumes:
      - /var/lib/mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=123456
      - MYSQL_DATABASE=forge
      - MYSQL_USER=user
      - MYSQL_PASSWORD=123456
    ports:
      - "3306:3306"
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    links:
      - mysql
